#container {
  /* max-width: 1917px; */
  width: 100%;
  margin: auto;
}

#search {
  background-color: #f4f4f5;
  padding: 3px 3px 3px 8px;
  outline: none;
  border-radius: 5px;
}
#footer {
  width: 1215px;
}

#lastpart {
  display: flex;
  justify-content: center;
  background-color: #e8e8ea;
  padding: 64px;
}

.blog {
  margin-top: 32px;
  width: 393px;
  height: 472px;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  border: solid #e1e1e1 1px;
}
.blog:hover {
  background-color: #f1f1f1;
  transition: all 0.2s;
}

.more {
  width: 123px;
  height: 48px;
  padding: 12px;
  border: solid #e8e8ea 1px;
  font-size: 15px;
  border-radius: 8px;
}
.more:hover {
  background-color: #e8e8ea;
}
